/* Globals */
h1 {
  font-family: Ubuntu;
  font-weight: 500;
  color: #ffffff;
  font-size: 3em;
}

p {
  font-family: Lato;
  font-weight: 400;
  color: #ffffff;
  font-size: 1em;
}
a{
  font-family: Lato;
  font-weight: 400;
  font-size: 1.25em;
}
.figure-caption{
  color: #ffffff
}
html, body {
  /*background-color: #f8f9fa; */
  background-image: url("img/asia.jpg");
  background-repeat: repeat-y;
  background-color: #d6d6d6;
}

image {
  max-width: 12em;
  margin: 1em;
}

video{
  height: 60%;
  width: 60%;
}
.newcontent{
  padding-top: 1em;
}

.btn{
  margin: 1em;
}

.container {
  padding-top: 3em;
}

@media screen and (max-width: 768px){
  .newcontent{
    padding-top: 0.5em;
  }
  .container{
    padding-top: 1em;
  }
}
@media screen and (max-width: 413px){
  .newcontent{
    padding-top: 0.3em;
  }
  .container{
    padding-top: 1em;
  }
  h1 {
    font-size: 2em;
  }
  h3{
    font-size: 1.5em;
  }
  p{
    font-size: 1em;
  }
}
